@import 'tailwindcss';

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('/assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
}

html,
body {
  font-family: 'SF Pro Display', system-ui, sans-serif;
}

#root {
  z-index: 100;
  overflow: hidden !important;
}

.swiper {
  z-index: 20 !important;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;

  font-size: 18px;
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
